/* *************ABOUT SECTION *************** */
.about{
    display: none;
    position: relative;
    background-color: #1e1a1a;
    opacity: 1 !important;
    border-radius: 35px 35px 0 0;
    transition: top 2s ease 0s;
    z-index: 2;
    padding-bottom: 80px;
}

@keyframes moving-top{
    from{top: 1000px}
    to{top: 180px}
}

.bi-about{
    color: #f8c444;
    opacity: 1;
}

#myName{
    padding-bottom: 10px;
    font-size: 42px;
    color: #fff;
}

.black{
    color: #939597;
}

.dno{
    padding: 55px 200px;
    color: #fff;
}
